{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <h1>Votre panier</h1>
    <br>
    {% for cartProduct in cart.cartProducts %}
        {% set product = cartProduct.product %}
        {{ product.name }} : {{ product.price }} €
        </tr><br>
    {% endfor %}
    <br>
    Total : {{ cart.total }}€
    <br><br>
    <a href="checkout">
        <button>Commander</button>
    </a>

{% endblock %}
