<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>E-commerce - {% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% include 'partials/stylesheets.html.twig' %}
</head>
<body class="animsition">
{% include 'partials/header.html.twig' %}
{% include 'partials/footer.html.twig' %}
</body>
</html>
