{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
        <button class="btn" onclick="payment_ok()">{{ button_label|default('Payer') }}</button>
        <div id="payment-ok" style="display:none">
                <p>Paiement validé !</p>
                <a href="/">
                        <button class="btn">{{ button_label|default('Retour au menu') }}</button>
                </a>
        </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function payment_ok(){
            $('#payment-ok').show();
            $.post("{{ path('checkout_payment') }}");
        }
    </script>
{% endblock %}